:root {
  /* LIGHT THEME */
  --light-color-background: #f5f5f5;
  --light-color-background-soft: #f9f9f9;
  --light-color-background-mute: #e0e0e0;

  --light-color-heading: #333;
  --light-color-text: #666;

  --light-color-primary: #770708;
  --light-color-primary-dark: #4b0406;
  --light-color-primary-light: #a30000;

  --light-color-secondary: #a9a9a9;
  --light-color-secondary-dark: #808080;
  --light-color-secondary-light: #d3d3d3;

  --light-color-link: #CCCCCC;
  --light-color-link-hover: #AAAAAA;
  --light-color-link-secondary: #000000;
  --light-color-link-secondary-hover: #333333;

  --light-color-border: #444;

  /* DARK THEME */
  --dark-color-background: #333;
  --dark-color-background-soft: #444;
  --dark-color-background-mute: #222;

  --dark-color-heading: #f5f5f5;
  --dark-color-text: #ccc;

  --dark-color-primary: #770708;
  --dark-color-primary-dark: #4b0406;
  --dark-color-primary-light: #a30000;

  --dark-color-secondary: #a9a9a9;
  --dark-color-secondary-dark: #808080;
  --dark-color-secondary-light: #d3d3d3;

  --dark-color-link: #CCCCCC;
  --dark-color-link-hover: #AAAAAA;
  --dark-color-link-secondary: #FFFFFF;
  --dark-color-link-secondary-hover: #DDDDDD;

  --dark-color-border: #e9ecef;
}

:root {
  --color-background: var(--light-color-background);
  --color-background-soft: var(--light-color-background-soft);
  --color-background-mute: var(--light-color-background-mute);

  --color-heading: var(--light-color-heading);
  --color-text: var(--light-color-text);

  --color-primary: var(--light-color-primary);
  --color-primary-dark: var(--light-color-primary-dark);
  --color-primary-light: var(--light-color-primary-light);

  --color-secondary: var(--light-color-secondary);
  --color-secondary-dark: var(--light-color-secondary-dark);
  --color-secondary-light: var(--light-color-secondary-light);

  --color-link: var(--light-color-link);
  --color-link-hover: var(--light-color-link-hover);
  --color-link-secondary: var(--light-color-link-secondary);
  --color-link-secondary-hover: var(--light-color-link-secondary-hover);

  --color-border: var(--light-color-border);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--dark-color-background);
    --color-background-soft: var(--dark-color-background-soft);
    --color-background-mute: var(--dark-color-background-mute);

    --color-heading: var(--dark-color-heading);
    --color-text: var(--dark-color-text);

    --color-primary: var(--dark-color-primary);
    --color-primary-dark: var(--dark-color-primary-dark);
    --color-primary-light: var(--dark-color-primary-light);

    --color-secondary: var(--dark-color-secondary);
    --color-secondary-dark: var(--dark-color-secondary-dark);
    --color-secondary-light: var(--dark-color-secondary-light);

    --color-link: var(--dark-color-link);
    --color-link-hover: var(--dark-color-link-hover);
    --color-link-secondary: var(--dark-color-link-secondary);
    --color-link-secondary-hover: var(--dark-color-link-secondary-hover);

    --color-border: var(--dark-color-border);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*mark all borders with border color var*/
* {
  border-top-color: var(--color-border);
}

h1, h2, h3, h4, h5, h6 {
  color: var(--color-heading);
}

a {
  color: var(--color-link);
  text-decoration: none;
  transition: color 0.5s;
}
a:hover {
  color: var(--color-link-hover);
}
